@import "../../styles/_breakpoint";
@import "../../styles/_mixin";
.drinkBx{
    width: 98%;
    margin: 0 auto;
    h2{
        text-align: center;
        font-size:30px;
        span{
            display:block;
            font-size:18px;
        }
    }
}
.productBx{
    overflow: hidden;
    padding:0;
    list-style:none;
    display: grid;
    gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    @include mq(pc){
        grid-template-columns: repeat(4, 1fr);
    }
    @include mq(tab){
        grid-template-columns: repeat(3, 1fr);
    }
    @include mq(sp){
        grid-template-columns: repeat(2, 1fr);
    }
    li{
        width:100%;
        margin: 0 2% 2% 0;
        padding: 2%;
        border: 1px solid #ddd;
        box-sizing: border-box;
        &:nth-child(4n){
            margin-right:0;
        }
        @include mq(tab){
            width:100%;
            &:nth-child(3n){
                margin-right:0;
            }
            &:nth-child(4n){
                margin: 0 2% 2% 0;
            }
        }
        @include mq(sp){
            float:none;
            width:100%;
            padding: 2%;
            margin:0 0 2.5% 0;
        }
        span{
            background:none!important;
            overflow: hidden;
            font-weight: bold;
            margin-top: 2%;
            p{
                margin:0;
                float:left;
                font-size: 24px;
            }
            span{
                float:right;
            }
        }
        h4{
            text-align: center;
        }
        ul{
            list-style:none;
            padding: 0;
            position: relative;
            li{
                float:none;
                text-align: center;
                font-weight:bold;
                margin: 0;
                padding: 2% 0;
                cursor:pointer;
                &:nth-child(2){
                    border:none;
                    margin: 0 15%;
                    cursor:default;
                }
                &:last-child{
                    margin:0 0 2% 0;
                }
            }
        }
        .priceAndCartBx{
            float: none;
            margin: 4% auto 2%;
            padding: 0 2%;
            box-sizing: border-box;
            overflow: hidden;
            display: block;
        }
    }
}