rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user/{userId} {
      allow read: if request.auth.uid != null;
      allow create;
      allow update: if request.auth.uid == userId;
      allow delete: if request.auth.uid == userId;
    }

    match /drink/{drinkId} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }
    match /hamburger/{hamburgerId} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }
    match /setMenu/{setMenuId} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }
    match /sideMenu/{othersId} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }
    match /monthTotalPrice/{document=**} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }
    match /customer/{customerId} {
      allow read: if request.auth.uid != null;
      allow create;
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;

      match /cart/{cartId} {
        allow read: if request.auth.uid != null;
        allow create: if request.auth.uid != null;
        allow update: if request.auth.uid != null;
        allow delete: if request.auth.uid != null;
      }
    }

    match /order/{document=**} {
      allow read: if request.auth.uid != null;
      allow create;
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }

    match /sales/{document=**} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid != null;
      allow delete: if request.auth.uid != null;
    }
  }
}